Priorizador 2.0 (1).json
{
  "name": "Priorizador 2.0",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        224
      ],
      "id": "3441ae29-8573-4311-a950-6fbf08e754fc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/alvarovalero1/TFM/refs/heads/main/meditech_vulns_final.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        224
      ],
      "id": "f525a74c-7958-496f-88fd-bc23a90ae614",
      "name": "Ingesta"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -688,
        224
      ],
      "id": "d034a6be-f96a-47bf-aa32-7503d508440d",
      "name": "Saneado_Normalizacion_CSV"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# =============================================================================\n# MEDITECH SOAR - ALGORITMO PRIORIZADOR IPC v2.1\n# =============================================================================\n\nF_ACTIVO = {\n    \"CRITICO\": 1.5,\n    \"ALTO\":    1.2,\n    \"MEDIO\":   1.0,\n    \"BAJO\":    0.5\n}\nF_AMENAZA = {\n    \"SI\":  2.0,\n    \"POC\": 1.5,\n    \"NO\":  1.0\n}\nF_EXPOSICION = {\n    \"EXTERNA\":    1.3,\n    \"DMZ\":        1.1,\n    \"INTERNA\":    1.0,\n    \"LAB\":        0.8,\n    \"SEGMENTADA\": 0.8\n}\nF_CUMPLIMIENTO = {\n    \"SI\": 1.4,\n    \"NO\": 1.0\n}\nF_WEAPONIZATION = {\n    \"ALTA\":  1.5,\n    \"MEDIA\": 1.2,\n    \"BAJA\":  1.0\n}\n\n# ── NUEVO FACTOR ──────────────────────────────────────────────────────────────\n# F_ESTADO: penaliza vulnerabilidades no resueltas incrementando su Score IPC.\n# Una vuln sin remediar acumula exposición real creciente → mayor criticidad.\nF_ESTADO = {\n    \"RESUELTA\":    0.7,   # Corregida: criticidad residual reducida\n    \"EN_PROGRESO\": 1.0,   # En tratamiento: mantiene prioridad base\n    \"NO_RESUELTA\": 1.3,   # Sin remediar: incremento del 30% por persistencia\n    # Aliases normalizados\n    \"ABIERTA\":     1.3,\n    \"OPEN\":        1.3,\n    \"PENDIENTE\":   1.3,\n    \"REABIERTA\":   1.3,\n}\n\nCOSTE_24H = {\n    \"CRITICO\": 120000,\n    \"ALTO\":     36000,\n    \"MEDIO\":     2400,\n    \"BAJO\":         0\n}\n\n# Score máximo teórico con 7 factores:\n# CVSS 10 × 1.5 × 2.0 × 1.3 × 1.4 × 1.5 × 1.3 = 106.47\nSCORE_NORMALIZADOR = 106.47\n\nCAP_PROBABILIDAD = {\n    \"SI\":  1.0,\n    \"POC\": 0.5,\n    \"NO\":  0.1\n}\n\nUMBRAL_CRITICO = 35\nUMBRAL_ALTO    = 20\nUMBRAL_MEDIO   = 10\n\n# ─── UTILIDADES ───────────────────────────────────────────────────────────────\n\ndef normalize(s):\n    if s is None:\n        return \"\"\n    s = str(s).upper().strip()\n    pairs = [\n        (\"\\u00C1\",\"A\"),(\"\\u00E1\",\"A\"),(\"\\u00C0\",\"A\"),(\"\\u00E0\",\"A\"),\n        (\"\\u00C9\",\"E\"),(\"\\u00E9\",\"E\"),(\"\\u00C8\",\"E\"),(\"\\u00E8\",\"E\"),\n        (\"\\u00CD\",\"I\"),(\"\\u00ED\",\"I\"),(\"\\u00CC\",\"I\"),(\"\\u00EC\",\"I\"),\n        (\"\\u00D3\",\"O\"),(\"\\u00F3\",\"O\"),(\"\\u00D2\",\"O\"),(\"\\u00F2\",\"O\"),\n        (\"\\u00DA\",\"U\"),(\"\\u00FA\",\"U\"),(\"\\u00D9\",\"U\"),(\"\\u00F9\",\"U\"),\n        (\"\\u00D1\",\"N\"),(\"\\u00F1\",\"N\"),(\"\\u00C7\",\"C\"),(\"\\u00E7\",\"C\"),\n    ]\n    for accented, base in pairs:\n        s = s.replace(accented, base)\n    return s\n\ndef get_flexible(row, keys, default):\n    norm_map = {}\n    for k, v in row.items():\n        norm_map[normalize(k)] = v\n    for key in keys:\n        if key in row and row[key] not in (None, \"\", \"None\"):\n            return row[key]\n        norm_key = normalize(key)\n        if norm_key in norm_map and norm_map[norm_key] not in (None, \"\", \"None\"):\n            return norm_map[norm_key]\n    return default\n\n# =============================================================================\n# PRIMERA ITERACIÓN — Cálculo IPC estándar con 7 factores (incluye F_estado)\n# =============================================================================\n\nresultados_primera = []\n\nfor item in _items:\n    if item is None or not isinstance(item, dict) or \"json\" not in item:\n        continue\n    row = item[\"json\"]\n    if not row:\n        continue\n\n    id_v    = get_flexible(row, [\"id_vuln\", \"cve_id\", \"CVE\", \"cve\", \"ID\"],                   \"N/A\")\n    activo  = get_flexible(row, [\"nombre_activo\", \"asset_name\", \"asset\", \"Asset\"],            \"Desconocido\")\n    tipo    = get_flexible(row, [\"tipo_activo\", \"criticidad\", \"asset_type\"],                  \"MEDIO\")\n    cvss_r  = get_flexible(row, [\"cvss_base\", \"cvss\", \"CVSS\", \"score\"],                      \"0\")\n    amenaza = get_flexible(row, [\"tiene_exploit\", \"exploit\", \"amenaza\"],                     \"NO\")\n    expo    = get_flexible(row, [\"exposicion\", \"exposure\", \"zona_red\"],                      \"INTERNA\")\n    cumple  = get_flexible(row, [\"cumplimiento\", \"datos_regulados\", \"gdpr\"],                 \"NO\")\n    weapon  = get_flexible(row, [\"weaponization\", \"weaponizado\", \"madurez_exploit\"],         \"BAJA\")\n    estado  = get_flexible(row, [\"estado\", \"status\", \"resuelta\", \"resolucion\", \"estado_vuln\"], \"NO_RESUELTA\")\n\n    try:\n        cvss = float(cvss_r)\n        cvss = max(0.0, min(10.0, cvss))\n    except (ValueError, TypeError):\n        cvss = 0.0\n\n    tipo_norm    = normalize(tipo)\n    amenaza_norm = normalize(amenaza)\n    expo_norm    = normalize(expo)\n    cumple_norm  = normalize(cumple)\n    weapon_norm  = normalize(weapon)\n    estado_norm  = normalize(estado)\n\n    f_activo  = F_ACTIVO.get(tipo_norm,          1.0)\n    f_amenaza = F_AMENAZA.get(amenaza_norm,       1.0)\n    f_expo    = F_EXPOSICION.get(expo_norm,       1.0)\n    f_cumple  = F_CUMPLIMIENTO.get(cumple_norm,   1.0)\n    f_weapon  = F_WEAPONIZATION.get(weapon_norm,  1.0)\n    # ── F_ESTADO: entra en la fórmula base, no solo en el escalado ──\n    f_estado  = F_ESTADO.get(estado_norm, 1.3)  # default conservador: NO_RESUELTA\n\n    # Fórmula IPC completa con 7 factores\n    ipc_score = round(\n        cvss * f_activo * f_amenaza * f_expo * f_cumple * f_weapon * f_estado,\n        2\n    )\n\n    coste_24h   = COSTE_24H.get(tipo_norm, 0)\n    cap         = CAP_PROBABILIDAD.get(amenaza_norm, 0.1)\n    factor_prob = min(ipc_score / SCORE_NORMALIZADOR, cap)\n    riesgo_eur  = round(coste_24h * factor_prob, 2)\n\n    if ipc_score >= UMBRAL_CRITICO:\n        prioridad = \"CRITICA\"\n        sla       = \"24 Horas\"\n        notificar = True\n    elif ipc_score >= UMBRAL_ALTO:\n        prioridad = \"ALTA\"\n        sla       = \"7 Dias\"\n        notificar = False\n    elif ipc_score >= UMBRAL_MEDIO:\n        prioridad = \"MEDIA\"\n        sla       = \"30 Dias\"\n        notificar = False\n    else:\n        prioridad = \"BAJA\"\n        sla       = \"Segun disponibilidad\"\n        notificar = False\n\n    resultados_primera.append({\n        \"id_vuln\":               id_v,\n        \"nombre_activo\":         activo,\n        \"tipo_activo\":           tipo_norm,\n        \"cvss_base\":             cvss,\n        \"tiene_exploit\":         amenaza_norm,\n        \"exposicion\":            expo_norm,\n        \"cumplimiento\":          cumple_norm,\n        \"weaponization\":         weapon_norm,\n        \"estado\":                estado_norm,\n        \"f_activo\":              f_activo,\n        \"f_amenaza\":             f_amenaza,\n        \"f_exposicion\":          f_expo,\n        \"f_cumplimiento\":        f_cumple,\n        \"f_weaponization\":       f_weapon,\n        \"f_estado\":              f_estado,          # ← nuevo campo en output\n        \"ipc_score\":             ipc_score,\n        \"factor_probabilidad\":   round(factor_prob, 4),\n        \"riesgo_financiero_eur\": riesgo_eur,\n        \"prioridad_soar\":        prioridad,\n        \"sla_remediacion\":       sla,\n        \"notificar_ciso\":        notificar,\n        \"escalada\":              False,\n        \"motivo_escalado\":       \"\"\n    })\n\n# =============================================================================\n# SEGUNDA ITERACIÓN — Escalado al CISO por estado abierto\n# (complementa el Score: el IPC ya refleja el estado, aquí se gestiona la\n#  notificación y la etiqueta operativa para el flujo de alertas)\n# =============================================================================\n\nESTADOS_ABIERTOS = {\"NO_RESUELTA\", \"ABIERTA\", \"OPEN\", \"PENDIENTE\",\n                    \"EN_PROGRESO\", \"REABIERTA\", \"NO\", \"\"}\n\nresults = []\n\nfor vuln in resultados_primera:\n    estado_norm = vuln[\"estado\"]\n    prioridad   = vuln[\"prioridad_soar\"]\n    escalada    = False\n    motivo      = \"\"\n\n    if estado_norm in ESTADOS_ABIERTOS:\n\n        if prioridad == \"CRITICA\":\n            vuln[\"prioridad_soar\"]  = \"CRITICA_ESCALADA\"\n            vuln[\"sla_remediacion\"] = \"INMEDIATO\"\n            vuln[\"notificar_ciso\"]  = True\n            escalada = True\n            motivo   = \"Vulnerabilidad CRITICA sin resolver — intervención inmediata requerida\"\n\n        elif prioridad == \"ALTA\":\n            vuln[\"prioridad_soar\"]  = \"CRITICA\"\n            vuln[\"sla_remediacion\"] = \"24 Horas\"\n            vuln[\"notificar_ciso\"]  = True\n            escalada = True\n            motivo   = \"Vulnerabilidad ALTA sin resolver — escalada a CRITICA por vencimiento de SLA\"\n\n        else:\n            vuln[\"notificar_ciso\"] = True\n            escalada = True\n            motivo   = \"Vulnerabilidad \" + prioridad + \" sin resolver — notificación preventiva al CISO\"\n\n    vuln[\"escalada\"]        = escalada\n    vuln[\"motivo_escalado\"] = motivo\n\n    results.append({\"json\": vuln})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        224
      ],
      "id": "f5970490-e5ab-414b-a2ea-d1fbae1cfbeb",
      "name": "Algoritmo_Priorización_IPC"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notificar_ciso }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "989e0c61-d493-474f-9cbe-dc19f88dc424"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2491bbf3-3ad0-4c64-9fa4-a6845330a8c8",
                    "leftValue": "={{ $json.notificar_ciso }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        224
      ],
      "id": "a193db4d-58b0-420d-9d0e-4268eee280e4",
      "name": "Filtro_Criticas_CISO"
    },
    {
      "parameters": {
        "sendTo": "alvarovaleropraena@gmail.com",
        "subject": "=ALERTA: Riesgo Crítico Detectado en {{ $json.nombre_activo }}",
        "message": "=INFORME DE PRIORIZACIÓN AUTOMÁTICA - MEDITECH SOLUTIONS  Se ha detectado una vulnerabilidad que requiere remediación inmediata tras el análisis del algoritmo IPC.  DETALLES TÉCNICOS: - CVE ID: {{ $json.id_vuln }} - Activo afectado: {{ $json.nombre_activo }} - Criticidad del Activo: {{ $json.tipo_activo }}  ANÁLISIS DE RIESGO CONTEXTUAL: - IPC Score: {{ $json.ipc_score }} (Umbral Crítico >= 35) - SLA de Remediación: {{ $json.sla_remediacion }} - Exposición de Red: {{ $json.exposicion }}  ACCIONES REQUERIDAS: El equipo de respuesta a incidentes debe priorizar este activo en las próximas 24 horas siguiendo el protocolo SOAR v1.2.  ---  Mensaje generado automáticamente por el orquestador n8n.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "e919822f-9ceb-4849-930d-11ffc092d21f",
      "name": "Notificacion_Alerta_Temprana",
      "webhookId": "acd16546-6420-4a51-980e-f205c9160bd9",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hj6wDD8FKeHRTdy7",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# =============================================================================\n# MEDITECH SOAR - GENERADOR DE DASHBOARD EJECUTIVO v3\n# Incluye: estado de resolución, escalados, KPIs de seguimiento\n# =============================================================================\n\nitems_validos = [\n    x for x in _items\n    if x is not None and isinstance(x, dict) and \"json\" in x and x[\"json\"]\n]\n\nitems_priorizados = sorted(\n    items_validos,\n    key=lambda x: x[\"json\"].get(\"ipc_score\", 0),\n    reverse=True\n)\n\n# ─── CONTADORES KPI ───────────────────────────────────────────────────────────\ntotal_criticas        = 0\ntotal_altas           = 0\ntotal_escaladas       = 0\ntotal_no_resueltas    = 0\ntotal_en_progreso     = 0\ntotal_resueltas       = 0\nsuma_riesgo_economico = 0.0\nfilas_html            = \"\"\n\nfor item in items_priorizados:\n    row = item[\"json\"]\n\n    id_v       = row.get(\"id_vuln\",               \"N/A\")\n    activo     = row.get(\"nombre_activo\",          \"Desconocido\")\n    cvss       = float(row.get(\"cvss_base\",        0))\n    score      = float(row.get(\"ipc_score\",        0))\n    riesgo_eur = float(row.get(\"riesgo_financiero_eur\", 0))\n    prioridad  = row.get(\"prioridad_soar\",         \"BAJA\")\n    sla        = row.get(\"sla_remediacion\",        \"Pendiente\")\n    notificar  = row.get(\"notificar_ciso\",         False)\n    amenaza    = row.get(\"tiene_exploit\",          \"NO\")\n    expo       = row.get(\"exposicion\",             \"INTERNA\")\n    cumple     = row.get(\"cumplimiento\",           \"NO\")\n    weapon     = row.get(\"weaponization\",          \"N/A\")\n    estado     = row.get(\"estado\",                 \"NO_RESUELTA\")\n    escalada   = row.get(\"escalada\",               False)\n    motivo     = row.get(\"motivo_escalado\",        \"\")\n\n    suma_riesgo_economico += riesgo_eur\n\n    # Contadores de prioridad\n    if prioridad in (\"CRITICA\", \"CRITICA_ESCALADA\"):\n        total_criticas += 1\n    elif prioridad == \"ALTA\":\n        total_altas += 1\n    if escalada:\n        total_escaladas += 1\n\n    # Contadores de estado\n    if estado == \"RESUELTA\":\n        total_resueltas += 1\n    elif estado == \"EN_PROGRESO\":\n        total_en_progreso += 1\n    else:\n        total_no_resueltas += 1\n\n    # ── Colores por prioridad ─────────────────────────────────────────────────\n    if prioridad == \"CRITICA_ESCALADA\":\n        color = \"#c0392b\"\n    elif prioridad == \"CRITICA\":\n        color = \"#e74c3c\"\n    elif prioridad == \"ALTA\":\n        color = \"#e67e22\"\n    elif prioridad == \"MEDIA\":\n        color = \"#f39c12\"\n    else:\n        color = \"#7f8c8d\"\n\n    # ── Colores por estado ────────────────────────────────────────────────────\n    if estado == \"RESUELTA\":\n        color_estado = \"#27ae60\"\n        icono_estado = \"\\u2705\"\n    elif estado == \"EN_PROGRESO\":\n        color_estado = \"#e67e22\"\n        icono_estado = \"\\u23f3\"\n    else:\n        color_estado = \"#e74c3c\"\n        icono_estado = \"\\u274c\"\n\n    # ── Color weaponization ───────────────────────────────────────────────────\n    if weapon == \"ALTA\":\n        color_weapon = \"#e74c3c\"\n    elif weapon == \"MEDIA\":\n        color_weapon = \"#e67e22\"\n    else:\n        color_weapon = \"#7f8c8d\"\n\n    alerta = \"\\U0001f514 \" if notificar else \"\"\n\n    # ── Banner de escalado ────────────────────────────────────────────────────\n    fila_escalado = \"\"\n    if escalada and motivo:\n        fila_escalado = f\"\"\"\n    <tr style=\"background:#fdf2f2;\">\n        <td colspan=\"12\" style=\"padding:6px 14px; font-size:11px;\n            color:#c0392b; font-style:italic; border-bottom:1px solid #f5c6c6;\">\n            \\u26a0\\ufe0f {motivo}\n        </td>\n    </tr>\"\"\"\n\n    filas_html += f\"\"\"\n    {fila_escalado}\n    <tr>\n        <td style=\"font-weight:bold; color:#2c3e50;\">{alerta}{id_v}</td>\n        <td>{activo}</td>\n        <td style=\"text-align:center; color:#555;\">{cvss:.1f}</td>\n        <td style=\"text-align:center; font-size:11px; color:#555;\">{amenaza}</td>\n        <td style=\"text-align:center; font-size:11px; color:#555;\">{expo}</td>\n        <td style=\"text-align:center; font-size:11px; color:#555;\">{cumple}</td>\n        <td style=\"text-align:center; font-size:11px; color:{color_weapon}; font-weight:bold;\">{weapon}</td>\n        <td style=\"text-align:center; font-weight:bold; color:{color};\">{score:.2f}</td>\n        <td style=\"text-align:right; font-weight:bold; color:#27ae60;\">{riesgo_eur:,.2f} \\u20ac</td>\n        <td style=\"text-align:center;\">\n            <span style=\"background:{color}; color:white; padding:4px 10px;\n                  border-radius:15px; font-size:11px; font-weight:bold;\">{prioridad}</span>\n        </td>\n        <td style=\"text-align:center;\">\n            <span style=\"background:{color_estado}; color:white; padding:4px 10px;\n                  border-radius:15px; font-size:11px; font-weight:bold;\">\n                {icono_estado} {estado}\n            </span>\n        </td>\n        <td style=\"text-align:center; color:#555; font-size:12px;\">{sla}</td>\n    </tr>\"\"\"\n\n# ─── BARRA DE PROGRESO ────────────────────────────────────────────────────────\ntotal_items     = len(items_priorizados)\npct_resueltas   = round((total_resueltas    / total_items * 100) if total_items else 0, 1)\npct_en_progreso = round((total_en_progreso  / total_items * 100) if total_items else 0, 1)\npct_abiertas    = round((total_no_resueltas / total_items * 100) if total_items else 0, 1)\n\nhtml_template = f\"\"\"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {{ font-family:'Segoe UI',Arial,sans-serif; background:#f0f2f5;\n                margin:0; padding:30px; }}\n        .container {{ max-width:1500px; margin:auto; background:white; padding:40px;\n                      border-radius:16px; box-shadow:0 10px 40px rgba(0,0,0,0.08); }}\n        .header {{ border-bottom:3px solid #2c3e50; margin-bottom:30px; padding-bottom:15px; }}\n        h1 {{ color:#2c3e50; margin:0; font-size:26px; }}\n        .subtitle {{ color:#7f8c8d; margin:6px 0 0; font-size:13px; }}\n        .kpi-row {{ display:flex; gap:15px; margin-bottom:20px; }}\n        .card {{ flex:1; padding:20px; border-radius:12px; text-align:center;\n                 color:white; box-shadow:0 4px 15px rgba(0,0,0,0.12); }}\n        .card h2 {{ margin:0; font-size:34px; font-weight:700; }}\n        .card p  {{ margin:6px 0 0; font-size:11px; font-weight:600;\n                    opacity:0.9; letter-spacing:0.5px; text-transform:uppercase; }}\n        .metodologia {{ background:#eaf4fb; border-left:4px solid #3498db;\n                        padding:10px 16px; border-radius:4px;\n                        margin-bottom:20px; font-size:12px; color:#2c3e50; }}\n        .progress-wrap {{ background:#f8f9fa; border-radius:10px; padding:16px 20px;\n                          margin-bottom:25px; border:1px solid #eee; }}\n        .progress-title {{ font-size:12px; font-weight:700; color:#7f8c8d;\n                           text-transform:uppercase; letter-spacing:1px; margin-bottom:10px; }}\n        .progress-bar-bg {{ background:#eee; border-radius:20px; height:22px;\n                            overflow:hidden; display:flex; }}\n        .progress-seg {{ height:100%; display:flex; align-items:center;\n                         justify-content:center; font-size:11px;\n                         font-weight:700; color:white; }}\n        .section-title {{ font-size:12px; color:#7f8c8d; font-weight:700;\n                          text-transform:uppercase; letter-spacing:1px;\n                          margin-bottom:12px; }}\n        table {{ width:100%; border-collapse:collapse; font-size:13px; }}\n        th {{ background:#f8f9fa; padding:11px 13px; text-align:left;\n              color:#7f8c8d; font-size:11px; text-transform:uppercase;\n              letter-spacing:0.7px; border-bottom:2px solid #eee; }}\n        td {{ padding:11px 13px; border-bottom:1px solid #f0f0f0; }}\n        tr:hover td {{ background:#fafbfc; }}\n        .footer {{ margin-top:25px; font-size:11px;\n                   color:#bdc3c7; text-align:center; line-height:1.8; }}\n    </style>\n</head>\n<body>\n<div class=\"container\">\n\n    <div class=\"header\">\n        <h1>&#x1F6E1;&#xFE0F; MediTech SOAR &mdash; Informe Ejecutivo de Vulnerabilidades</h1>\n        <p class=\"subtitle\">\n            An&aacute;lisis de Riesgo Contextual (IPC) &nbsp;&bull;&nbsp; Metodolog&iacute;a TFM &nbsp;&bull;&nbsp;\n            Score = CVSS &times; F<sub>activo</sub> &times; F<sub>amenaza</sub> &times;\n            F<sub>exposicion</sub> &times; F<sub>cumplimiento</sub> &times; F<sub>weaponization</sub>\n        </p>\n    </div>\n\n    <div class=\"metodologia\">\n        &#x2139;&#xFE0F;&nbsp;\n        <strong>Umbrales TFM (Secci&oacute;n 3.5):</strong>\n        CRITICA &ge; 35 &nbsp;|&nbsp; ALTA 20&ndash;34.9 &nbsp;|&nbsp;\n        MEDIA 10&ndash;19.9 &nbsp;|&nbsp; BAJA &lt; 10 &nbsp;&mdash;&nbsp;\n        <strong>Score m&aacute;x. te&oacute;rico: 81.9</strong> &nbsp;&mdash;&nbsp;\n        <strong>Riesgo:</strong> SLE ajustado por madurez de exploit (Secci&oacute;n 3.3)\n    </div>\n\n    <div class=\"kpi-row\">\n        <div class=\"card\" style=\"background:#c0392b;\">\n            <h2>{total_escaladas}</h2>\n            <p>&#x1F6A8; Escaladas al CISO</p>\n        </div>\n        <div class=\"card\" style=\"background:#e74c3c;\">\n            <h2>{total_criticas}</h2>\n            <p>CR&Iacute;TICAS (&ge; 35)</p>\n        </div>\n        <div class=\"card\" style=\"background:#e67e22;\">\n            <h2>{total_altas}</h2>\n            <p>ALTAS (20&ndash;34.9)</p>\n        </div>\n        <div class=\"card\" style=\"background:#27ae60;\">\n            <h2>{suma_riesgo_economico:,.0f} &euro;</h2>\n            <p>Riesgo Econ&oacute;mico Total (SLE)</p>\n        </div>\n        <div class=\"card\" style=\"background:#2c3e50;\">\n            <h2>{total_items}</h2>\n            <p>Total Vulnerabilidades</p>\n        </div>\n    </div>\n\n    <div class=\"kpi-row\">\n        <div class=\"card\" style=\"background:#e74c3c;\">\n            <h2>{total_no_resueltas}</h2>\n            <p>&#x274C; No Resueltas</p>\n        </div>\n        <div class=\"card\" style=\"background:#e67e22;\">\n            <h2>{total_en_progreso}</h2>\n            <p>&#x23F3; En Progreso</p>\n        </div>\n        <div class=\"card\" style=\"background:#27ae60;\">\n            <h2>{total_resueltas}</h2>\n            <p>&#x2705; Resueltas</p>\n        </div>\n        <div class=\"card\" style=\"background:#8e44ad;\">\n            <h2>{pct_resueltas}%</h2>\n            <p>Tasa de Resoluci&oacute;n</p>\n        </div>\n    </div>\n\n    <div class=\"progress-wrap\">\n        <div class=\"progress-title\">Progreso global de remediaci&oacute;n</div>\n        <div class=\"progress-bar-bg\">\n            <div class=\"progress-seg\"\n                 style=\"width:{pct_resueltas}%; background:#27ae60;\">\n                {pct_resueltas}%\n            </div>\n            <div class=\"progress-seg\"\n                 style=\"width:{pct_en_progreso}%; background:#e67e22;\">\n                {pct_en_progreso}%\n            </div>\n            <div class=\"progress-seg\"\n                 style=\"width:{pct_abiertas}%; background:#e74c3c;\">\n                {pct_abiertas}%\n            </div>\n        </div>\n        <div style=\"display:flex; gap:20px; margin-top:8px; font-size:11px; color:#7f8c8d;\">\n            <span>&#x25A0; <span style=\"color:#27ae60;\">Resueltas ({total_resueltas})</span></span>\n            <span>&#x25A0; <span style=\"color:#e67e22;\">En Progreso ({total_en_progreso})</span></span>\n            <span>&#x25A0; <span style=\"color:#e74c3c;\">No Resueltas ({total_no_resueltas})</span></span>\n        </div>\n    </div>\n\n    <div class=\"section-title\">Vulnerabilidades priorizadas por Score IPC</div>\n    <table>\n        <thead>\n            <tr>\n                <th>CVE / ID</th>\n                <th>Activo Afectado</th>\n                <th style=\"text-align:center;\">CVSS</th>\n                <th style=\"text-align:center;\">Exploit</th>\n                <th style=\"text-align:center;\">Exposici&oacute;n</th>\n                <th style=\"text-align:center;\">GDPR</th>\n                <th style=\"text-align:center;\">Weapon.</th>\n                <th style=\"text-align:center;\">IPC Score</th>\n                <th style=\"text-align:right;\">Riesgo SLE</th>\n                <th style=\"text-align:center;\">Prioridad</th>\n                <th style=\"text-align:center;\">Estado</th>\n                <th style=\"text-align:center;\">SLA</th>\n            </tr>\n        </thead>\n        <tbody>\n            {filas_html}\n        </tbody>\n    </table>\n\n    <div class=\"footer\">\n        Generado autom&aacute;ticamente por la plataforma SOAR de MediTech Solutions<br>\n        &#x1F514; = Notificaci&oacute;n CISO &nbsp;&bull;&nbsp;\n        &#x26A0;&#xFE0F; = Vulnerabilidad escalada &nbsp;&bull;&nbsp;\n        Weapon.: ALTA (x1.5) | MEDIA&#x2013;PoC (x1.2) | BAJA&#x2013;Te&oacute;rico (x1.0)<br>\n        Riesgo SLE = Coste_24h &times; m&iacute;n(Score / 54.6, cap_exploit)\n    </div>\n\n</div>\n</body>\n</html>\"\"\"\n\nreturn [{\"json\": {\"html_report\": html_template}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        608
      ],
      "id": "7e6025b4-e90c-40c4-a5a2-b4f191a1e25e",
      "name": "Generador_Reporte_Ejecutivo_HTML"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html_report",
        "options": {
          "fileName": "Reporte_MediTech.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        32,
        608
      ],
      "id": "a8ec5d3a-266b-4785-8b97-3e3700e96923",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4b8f2183-9fb6-4fff-a2d2-d64bec4eaac9",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "RESUELTA",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67597b9e-58c2-4fac-9948-721e602375a2",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "RESUELTA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16,
        272
      ],
      "id": "380258f5-5caa-498f-8472-d92614ebe527",
      "name": "Filtro_No_Resueltas"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# =============================================================================\n# MEDITECH SOAR - ALERTA DE VULNERABILIDADES NO RESUELTAS\n# Notifica al CISO vulnerabilidades MEDIA/BAJA pendientes de resolución\n# =============================================================================\n\nno_resueltas  = []\nen_progreso   = []\n\nfor item in _items:\n    if item is None or not isinstance(item, dict) or \"json\" not in item:\n        continue\n    row = item[\"json\"]\n    if not row:\n        continue\n\n    estado = row.get(\"estado\", \"NO_RESUELTA\")\n\n    if estado == \"EN_PROGRESO\":\n        en_progreso.append(row)\n    else:\n        no_resueltas.append(row)\n\n# Ordenar por IPC score descendente\nno_resueltas = sorted(no_resueltas, key=lambda x: x.get(\"ipc_score\", 0), reverse=True)\nen_progreso  = sorted(en_progreso,  key=lambda x: x.get(\"ipc_score\", 0), reverse=True)\n\ntotal = len(no_resueltas) + len(en_progreso)\n\ndef generar_filas(vulns):\n    filas = \"\"\n    for v in vulns:\n        estado    = v.get(\"estado\", \"N/A\")\n        prioridad = v.get(\"prioridad_soar\", \"BAJA\")\n        escalada  = v.get(\"escalada\", False)\n\n        if estado == \"EN_PROGRESO\":\n            color_estado = \"#e67e22\"\n            icono_estado = \"\\u23f3\"\n        else:\n            color_estado = \"#e74c3c\"\n            icono_estado = \"\\u274c\"\n\n        if prioridad in (\"CRITICA_ESCALADA\", \"CRITICA\"):\n            color_p = \"#e74c3c\"\n        elif prioridad == \"ALTA\":\n            color_p = \"#e67e22\"\n        elif prioridad == \"MEDIA\":\n            color_p = \"#f39c12\"\n        else:\n            color_p = \"#7f8c8d\"\n\n        icono_esc = \"\\u26a0\\ufe0f \" if escalada else \"\"\n        motivo    = v.get(\"motivo_escalado\", \"\")\n\n        filas += f\"\"\"\n        <tr>\n            <td style=\"padding:10px; border-bottom:1px solid #eee;\n                        font-weight:bold; color:#2c3e50;\">\n                {icono_esc}{v.get(\"id_vuln\", \"N/A\")}\n            </td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee;\">\n                {v.get(\"nombre_activo\", \"Desconocido\")}\n            </td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee;\n                        text-align:center;\">{v.get(\"tipo_activo\",\"N/A\")}</td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee;\n                        text-align:center; font-weight:bold; color:{color_p};\">\n                {v.get(\"ipc_score\", 0)}\n            </td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee; text-align:center;\">\n                <span style=\"background:{color_estado}; color:white; padding:3px 8px;\n                      border-radius:10px; font-size:11px; font-weight:bold;\">\n                    {icono_estado} {estado}\n                </span>\n            </td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee; text-align:center;\">\n                <span style=\"background:{color_p}; color:white; padding:3px 8px;\n                      border-radius:10px; font-size:11px; font-weight:bold;\">\n                    {prioridad}\n                </span>\n            </td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee;\n                        text-align:right; font-weight:bold; color:#27ae60;\">\n                {v.get(\"riesgo_financiero_eur\", 0):,.0f} \\u20ac\n            </td>\n            <td style=\"padding:10px; border-bottom:1px solid #eee;\n                        font-size:11px; color:#7f8c8d;\">\n                {v.get(\"sla_remediacion\",\"N/A\")}\n                {f'<br><span style=\"color:#c0392b; font-style:italic;\">{motivo}</span>' if motivo else \"\"}\n            </td>\n        </tr>\"\"\"\n    return filas\n\nseccion_no_resueltas = \"\"\nif no_resueltas:\n    seccion_no_resueltas = f\"\"\"\n    <h3 style=\"color:#e74c3c; border-bottom:2px solid #e74c3c; padding-bottom:6px;\">\n        \\u274c Vulnerabilidades NO RESUELTAS ({len(no_resueltas)})\n    </h3>\n    <table style=\"width:100%; border-collapse:collapse; margin-bottom:30px;\">\n        <thead>\n            <tr style=\"background:#e74c3c; color:white;\">\n                <th style=\"padding:10px;\">CVE / ID</th>\n                <th style=\"padding:10px;\">Activo</th>\n                <th style=\"padding:10px; text-align:center;\">Tipo</th>\n                <th style=\"padding:10px; text-align:center;\">IPC Score</th>\n                <th style=\"padding:10px; text-align:center;\">Estado</th>\n                <th style=\"padding:10px; text-align:center;\">Prioridad</th>\n                <th style=\"padding:10px; text-align:right;\">Riesgo SLE</th>\n                <th style=\"padding:10px;\">SLA / Motivo</th>\n            </tr>\n        </thead>\n        <tbody>{generar_filas(no_resueltas)}</tbody>\n    </table>\"\"\"\n\nseccion_en_progreso = \"\"\nif en_progreso:\n    seccion_en_progreso = f\"\"\"\n    <h3 style=\"color:#e67e22; border-bottom:2px solid #e67e22; padding-bottom:6px;\">\n        \\u23f3 Vulnerabilidades EN PROGRESO ({len(en_progreso)})\n    </h3>\n    <table style=\"width:100%; border-collapse:collapse; margin-bottom:30px;\">\n        <thead>\n            <tr style=\"background:#e67e22; color:white;\">\n                <th style=\"padding:10px;\">CVE / ID</th>\n                <th style=\"padding:10px;\">Activo</th>\n                <th style=\"padding:10px; text-align:center;\">Tipo</th>\n                <th style=\"padding:10px; text-align:center;\">IPC Score</th>\n                <th style=\"padding:10px; text-align:center;\">Estado</th>\n                <th style=\"padding:10px; text-align:center;\">Prioridad</th>\n                <th style=\"padding:10px; text-align:right;\">Riesgo SLE</th>\n                <th style=\"padding:10px;\">SLA / Motivo</th>\n            </tr>\n        </thead>\n        <tbody>{generar_filas(en_progreso)}</tbody>\n    </table>\"\"\"\n\nasunto = f\"\\U0001f534 [SOAR MEDITECH] Seguimiento: {len(no_resueltas)} vuln. sin resolver, {len(en_progreso)} en progreso\"\n\nemail_html = f\"\"\"<!DOCTYPE html>\n<html lang=\"es\">\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:'Segoe UI',Arial,sans-serif; background:#f4f6f9;\n             margin:0; padding:20px;\">\n<div style=\"max-width:1000px; margin:auto; background:white;\n            border-radius:12px; box-shadow:0 4px 20px rgba(0,0,0,0.08);\n            overflow:hidden;\">\n\n    <div style=\"background:#2c3e50; padding:25px 30px;\">\n        <h1 style=\"color:white; margin:0; font-size:22px;\">\n            \\U0001f6e1\\ufe0f MediTech SOAR &mdash; Seguimiento de Vulnerabilidades Pendientes\n        </h1>\n        <p style=\"color:#bdc3c7; margin:6px 0 0; font-size:13px;\">\n            {total} vulnerabilidades requieren seguimiento &bull;\n            {len(no_resueltas)} sin resolver &bull; {len(en_progreso)} en progreso\n        </p>\n    </div>\n\n    <div style=\"display:flex; padding:20px 30px; background:#f8f9fa;\n                border-bottom:1px solid #eee; gap:15px;\">\n        <div style=\"flex:1; text-align:center; padding:15px; background:white;\n                    border-radius:8px; border-left:4px solid #e74c3c;\">\n            <div style=\"font-size:28px; font-weight:700; color:#e74c3c;\">\n                {len(no_resueltas)}\n            </div>\n            <div style=\"font-size:11px; color:#7f8c8d; font-weight:600;\">\n                NO RESUELTAS\n            </div>\n        </div>\n        <div style=\"flex:1; text-align:center; padding:15px; background:white;\n                    border-radius:8px; border-left:4px solid #e67e22;\">\n            <div style=\"font-size:28px; font-weight:700; color:#e67e22;\">\n                {len(en_progreso)}\n            </div>\n            <div style=\"font-size:11px; color:#7f8c8d; font-weight:600;\">\n                EN PROGRESO\n            </div>\n        </div>\n        <div style=\"flex:1; text-align:center; padding:15px; background:white;\n                    border-radius:8px; border-left:4px solid #2c3e50;\">\n            <div style=\"font-size:28px; font-weight:700; color:#2c3e50;\">\n                {total}\n            </div>\n            <div style=\"font-size:11px; color:#7f8c8d; font-weight:600;\">\n                TOTAL PENDIENTES\n            </div>\n        </div>\n    </div>\n\n    <div style=\"padding:30px;\">\n        {seccion_no_resueltas}\n        {seccion_en_progreso}\n    </div>\n\n    <div style=\"background:#f8f9fa; padding:15px 30px; border-top:1px solid #eee;\n                font-size:11px; color:#bdc3c7; text-align:center;\">\n        Generado autom&aacute;ticamente por MediTech SOAR &bull;\n        Este mensaje requiere seguimiento. No responder a este correo autom&aacute;tico.\n    </div>\n</div>\n</body>\n</html>\"\"\"\n\nreturn [{\"json\": {\n    \"email_html\":        email_html,\n    \"email_asunto\":      asunto,\n    \"total_pendientes\":  total,\n    \"n_no_resueltas\":    len(no_resueltas),\n    \"n_en_progreso\":     len(en_progreso)\n}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        288
      ],
      "id": "6ec3271f-1f7d-4e24-9d38-cc170a789d90",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "sendTo": "alvarovaleropraena@gmail.com",
        "subject": "={{ $json.email_asunto }}",
        "message": "=\t{{ $json.email_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        288
      ],
      "id": "1cd0ffcb-bedd-4b40-96d9-17579eeea227",
      "name": "Send a message",
      "webhookId": "99a5c968-ba48-45a7-8e26-7d9298effaf6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Ingesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingesta": {
      "main": [
        [
          {
            "node": "Saneado_Normalizacion_CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saneado_Normalizacion_CSV": {
      "main": [
        [
          {
            "node": "Algoritmo_Priorización_IPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algoritmo_Priorización_IPC": {
      "main": [
        [
          {
            "node": "Filtro_Criticas_CISO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generador_Reporte_Ejecutivo_HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro_Criticas_CISO": {
      "main": [
        [
          {
            "node": "Notificacion_Alerta_Temprana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtro_No_Resueltas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador_Reporte_Ejecutivo_HTML": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro_No_Resueltas": {
      "main": [
        [],
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "65b27530-a9ea-4882-82fc-d694dacbee9b",
  "meta": {
    "instanceId": "8fa2d88612458aa96aa48b85f47c2413b6d32d3884d7da25b21566ad7bbbaa4c"
  },
  "id": "t7D9Md8Igk0OrQnP",
  "tags": []
}